<div class="root container-fluid bg-light d-flex justify-content-center align-items-center">
    <h1>500 Internal Server Eror</h1>

    <a href="" class="btn btn-sm btn-dark" >Go to Dashboard</a>
</div>  